.header {
  color: #fff;
  background-color: #000;
  padding: 15px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include adaptive-value("width", 112, 84, 1);
  }

  &__nav {
    display: flex;
    align-items: center;
    @include adaptive-value("gap", 40, 20, 1);
  }

  .search,
  .favorites {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      @include xs-block() {
        display: none;
      }
    }
  }
}
